* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, verdana, helvetica, tahoma, sans-serif;
}

body > div {
	background-color: #fafafa;
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-template-rows: auto;
	grid-template-areas: "sidebar main";
	height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 32px;
	font-weight: 600;
	margin: 20px 0;
}

h2 {
	font-size: 26px;
	font-weight: 600;
	margin: 16px 0;
}

h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 12px 0;
}

h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 8px 0;
}

p {
	font-weight: 400;
	font-size: 14px;
}

button {
	background-color: #fff;
	color: rgba(0,0,0,0.7);
	font-size: 16px;
	font-weight: 400;
	padding: 4px 12px;
	border-radius: 4px;
	border: 1px solid #ddd;
	cursor: pointer;

	&:hover {
		background-color: #eee;
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

/**
 * Gaps
 */

.gap-xl {
	display: flex;
	gap: 20px;
}

.gap-lg {
	display: flex;
	gap: 16px;
}

.gap-md {
	display: flex;
	gap: 12px;
}

.gap-sm {
	display: flex;
	gap: 8px;
}

.gap-xs {
	display: flex;
	gap: 4px;
}

/**
 * Sidebar
 */
.sidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100vh;
	border-right: 1px solid #ddd;
	padding: 10px;

	& > * {
		width: 100%;
	}
}

.tree {
	margin-top: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;

	& p {
		font-size: 16px;
		padding: 4px;
		margin-left: 10px;
	}

	& a {
		font-weight: 600;
		padding: 4px;

		&.selected {
			background-color: #ddd;
		}

		&.new::before {
			width: 8px;
			height: 8px;
			position: relative;
			margin-right: 10px;
			background-color: #3E5BF3;
			border-radius: 50%;
			content: "";
		}
	}
}

.file-icon {
	width: 18px;
	height: 18px;
	margin-right: 4px;
}

.item-select {
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	cursor:pointer;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: #eee;
	}

	&.selected {
		background-color: #eee;
	}
}


/**
 * Main
 */
.main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
	overflow-y: auto;
}

.result-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 16px;
	margin: 20px 0;
}

.result {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px;
	user-select: none;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: #eee;
	}

	&.success {
		border-right: 8px solid #00a945;
	}
	
	&.failure {
		border-right: 8px solid #d64933;
	}

	&.info {
		border-right: 8px solid #3E5BF3;
	}

	&.selected {
		background-color: #eee;
	}
}

code {
	font-family: monospace;
	font-weight: 400;
	font-size: 14px;
	background-color: #ddd;
	color: #333;
	border-radius: 4px;
	padding: 2px 8px;
	display: inline-block;
}

input {
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 6px 12px;
	font-size: 14px;
	display: block;
	width: 100%;
	outline: none;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

span.info, span.success, span.failure, span.warning {
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	padding: 2px 8px;
	border-radius: 4px;
}

span.success {
	background-color:#00a945;
}

span.failure {
	background-color:#d64933;
}

span.info {
	background-color: #3E5BF3;
}

span.warning {
	background-color: #e9c46a;
}

.indent {
	margin-left: 16px;
}

.center {
	align-items: center;
	display: flex;
}

.justify-center {
	display: flex;
	justify-content: center;
}

/**
 * Detail container
 */

pre {
	white-space: pre-wrap;
	border-radius: 4px;
	background-color: #ddd;
	padding: 8px;
	position: relative;

	& > code {
		display: table;
		border-radius: 0;

		& .line-number {
			opacity: 0.4;
			margin-right: 16px;
		}
	}
}

.snapshot {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
}

.highlight-line {
	color: #3E5BF3;
	background-color: #eee;
	border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
	.result-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 992px) {
	.result-container {
		grid-template-columns: repeat(2, 1fr);
	}

	body > div {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "sidebar" "main";
	}

	.sidebar {
		display: flex;
		flex-direction: row;
		height: 100%;
		border-bottom: 1px solid #ddd;
		border-right: none;
	}
}

@media only screen and (max-width: 576px) {
	.result-container {
		grid-template-columns: 1fr;
	}
}

/**
 * Code Markup
 */

$bg: #fbf1c7;
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #076678;
$purple: #b16286;
$gray: #7c6f64;

.code {
	font-size: 14px;
	font-family: monospace;
	font-weight: 400;
	display: inline;
	
	&.string {
		color: $green;
	}

	&.key {
		color: $blue;
		&::after {
			color: $gray;
			content: ":";
		}
	}

	&.fold {
		width: 0; 
		height: 0; 
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 6px solid rgba(0,0,0,0.4);
		display: inline-block;
		margin-right: 4px;
		cursor: pointer;
	}

	&.folded {
		& .fold {
			border-top: none;
			border-bottom: 6px solid rgba(0,0,0,0.4);
		}

		& .closing-bracket:last-of-type::before, .closing-brace:last-of-type::before {
			content: "...";
		}

		& .open-brace, .closing-brace {
			display: inline;
		}

		& > *:not(.fold:first-of-type, .open-bracket:not(:first-of-type), .closing-bracket:last-of-type, .open-brace:not(:first-of-type), .closing-brace:last-of-type) {
			display: none;
		}
	}

	&.array {
		display: inline;
		& > *:not(.open-bracket, .closing-bracket, :nth-last-child(2), .fold)::after {
			content: ",";
			color: $gray;
		}
	}

	&.object {
		display: block;

		& > .line:not(:last-of-type)::after {
			content: ",";
			color: $gray;
		}

		& > .line {
			display: block;
		}
	}

	&.boolean {
		color: $purple;
	}

	&.number {
		color: $purple;
	}

	&.open-brace {
		display: inline;
		&::after {
			content: "{";
		}
	}

	&.closing-brace {
		display: inline;
		&::after {
			content: "}";
		}
	}

	&.open-bracket {
		display: inline;
		&::after {
			content: "[";
		}
	}

	&.closing-bracket {
		display: inline;
		&::after {
			content: "]";
		}
	}

	&.closing-bracket, &.open-bracket, &.open-brace, &.closing-brace {
		color: $gray;
	}
}